
.article {
  margin-bottom: 120px;
  position: relative;
}
.article::before {
  content: "";
  position: absolute;
  background: url(../images/decor-large-icon.svg);
  z-index: -1;
  height: 48px;
  top: 550px;
  width: calc(50% - 300px);
}
.article::after {
  content: "";
  position: absolute;
  background: url(../images/decor-large-icon.svg);
  z-index: -1;
  height: 48px;
  bottom: 550px;
  left: 50%;
  width: 50%;
}
.article__text {
  margin-top: 20px;
}
.text__link {
  text-decoration: none;
}
.article__image {
  position: relative;
}
.article__img {
  margin-top: 80px;
  max-width: 100%;
}

.article__gym-classes {
  max-width: 744px;
}
.gym__classes {
  padding: 0;
  margin: 20px 18px;
}
.gym__class {
  position: relative;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  list-style: none;
}
.gym__class::before {
  position: absolute;
  content: "";
  top: 7px;
  left: -16px;
  background-color: #3596ed;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.gym__class:last-child {
  margin: 0;
}

.article__gym-video {
  position: relative;
  margin-top: 40px;
}
.btn__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 40%;
  border: none;
  background-color: #3596ed;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn__play:hover {
  border-radius: 50%;
  background-color: #2d82cd;
}

.gym__video {
  max-width: 100%;
}

@media (width <= 1440px) {
  .article::before {
    display: none;
  }
  .article::after {
    display: none;
  }
}

@media (width <= 992px) {
  .article__img {
    margin-top: 40px;
  }
  .title {
    margin-top: 40px;
  }
}

@media (width <= 768px) {
  .article {
    margin-bottom: 60px;
  }
}

@media (width <= 576px) {
  .btn__play {
    width: 50px;
    height: 50px;
  }
  .play__btn-img {
    width: 18px;
    height: 18px;
  }
}