table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}
td,
th,
caption {
  border: 1px solid #000000;
  font-weight: 700;
  font-weight: 400;
}
caption{
    border-bottom: none;
    font-weight: 700;
}
th{
    font-weight: 700;
}
.weekend {
    color: red;
}
.weight{
    font-weight: 700;
}
