@media (width > 768px) {
  .air-mag {
   margin-bottom: 95px;
  }
}
@media (width <= 768px) {
  .air-mag {
   margin-bottom: 80px;
  }
}
.air-mag__text {
  display: flex;
}

@media (width > 768px) {
  .air-mag__text {
    margin-top: 10px;
    align-items: center;
    gap: 27px;
  }
}
@media (width <= 768px) {
  .air-mag__text {
    margin-top: 5px;
    flex-direction: column;
    gap: 5px;
  }
}
.air-mag__text::before {
  content: "";
  display: block;
  background: url(../../icons/accent-yellow-icon.svg);
  width: 131px;
  height: 39px;
  flex-shrink: 0;
  transform: translateX(-13px);
}
.air-mag__content {
  display: flex;
}
@media (width > 768px) {
  .air-mag__content {
    gap: 40px;
  }
}
@media (width <= 768px) {
  .air-mag__content {
    gap: 0px;
    flex-direction: column;
  }
}
.air-mag__image {
}
.air-mag__content-list {
  display: flex;
  flex-direction: column;
}
@media (width > 768px) {
  .air-mag__content-list {
    transform: translateY(77px);
    gap: 40px;
  }
}
@media (width <= 768px) {
  .air-mag__content-list {
    gap: 20px;
  }
}
.air-mag__content-item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 5px;
}
.air-mag__content-item::before {
  content: "";
  display: block;
  background: url(../../icons/yellow-check-box-icon.svg);
  width: 32px;
  height: 32px;
}
