.footer {
    margin-top: auto;
  padding: 60px 0 40px;
  background: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
  text-align: center;
}
.footer-top {
  border-bottom: 1px solid #d3cbd9;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 40px;
}
.footer-menu {
}
.footer-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 0;
  padding: 0;
}
.footer-menu-item {
}
.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  transition: color 0.2s;
}
.footer-link:hover {
  color: #2d82cd;
}
.copyright {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858e8a;
}
